.aboutAbout{
    width: 90%;
    margin-left: 5%;
    margin-top: 260px;
}
.aboutAbout img{
    float: left;
    width: 45%;
}
.aboutText{
    float: left;
    margin-left: 5%;
    width: 50%;
}
.aboutText h3{
    font-size: 40px;
    margin: 30px 0 50px 0;
}
.aboutText p{
    font-size: 18px;
    margin: 50px 0 50px 0;
}
.aboutText button{
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    padding: 16px 65px;
    background-color: #000000;
    border: none;
    border-radius: 32px;
    border: 1px rgb(0, 0, 0) solid;
    transition: all 200ms;
}


.aboutAbout2{
    width: 90%;
    margin-left: 5%;
    overflow: hidden;
}
.aboutAbout2 img{
    float: left;
    width: 50%;
}
.aboutText2{
    float: left;
    margin-top: 40px;
    width: 45%;
}
.aboutText2 p{
    font-size: 18px;
    margin: 80px 0 0px 0;
}


button:hover{
    border: none;
    background-color: #29A28C;
    border: 1px #29A28C solid;
    transition: all 300ms;
}