.aboutAbout{
    width: 90%;
    margin-left: 5%;
    margin-top: 260px;
}
.aboutAbout img{
    float: left;
    width: 45%;
}
.aboutText{
    float: left;
    margin-left: 5%;
    width: 50%;
}
.aboutText h3{
    font-size: 40px;
    margin: 0px 0 50px 0;
}
.aboutText p{
    font-size: 18px;
    margin: 50px 0 50px 0;
}
.aboutText button{
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    padding: 16px 65px;
    background-color: #000000;
    border: none;
    border-radius: 32px;
    border: 1px rgb(0, 0, 0) solid;
    transition: all 200ms;
}


.aboutAbout2{
    width: 90%;
    margin-left: 5%;
    overflow: hidden;
}
.aboutAbout2Lust{
    margin-top: 130px;
} 
.aboutAbout2 img{
    float: left;
    width: 50%;
}
.aboutText2{
    float: left;
    margin-top: 0px;
    width: 45%;
}
.aboutText2 p{
    position: relative;
    font-size: 18px;
    margin: 80px 0 0px 0;
    padding-left: 50px;
}
.aboutText2 img{
    width: 27px;
    height: 20px;
}
.aboutAbout2 span{
    position: absolute;
    left: 0;
    top: 10px;
}


button:hover{
    border: none;
    background-color: #29A28C;
    border: 1px #29A28C solid;
    transition: all 300ms;
}



@media screen and (max-width: 1100px) {
    .aboutText h3{
        display: none;
    }
    .aboutAbout{
        width: 100%;
        margin-left: 0%;
        margin-top: 0px;
        display: flex;
        flex-flow: wrap;
    }
    .aboutAbout img{
        order: 1;
        width: 100%;
    }
    .aboutText{
        order: 2;
        width: 90%;
    }
    .aboutText button{
        display: block;
        margin: 0 auto;
    }

    .aboutAbout2{
        width: 100%;
        margin-left: 0%;
        display: flex;
        flex-flow: wrap;
        padding-bottom: 50px;
    }
    .aboutAbout2Lust{
        margin-top: 0px;
    } 
    .aboutAbout2 img{
        float: left;
        width: 100%;
        order: 1;

    }
    .aboutText2{
        width: 90%;
        margin-left: 5%;
        order: 2;
    }
}