.aboutEsf{
    display: grid;
    grid-template-columns: 1fr 0.15fr 1fr;
    width: 90%;
    margin-left: 5%;
}
.columnAxis{
    height: 100%;
    margin-top: 65px;
}
.columsAxisBlack{
    width: 100%;
    padding-top: 20px;
    background-color: #000000;
    color: white;
    position: relative;
}
.axis img{
    display: block;
    margin: 0 auto;
}
.columnAxis h1{
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 82px 0;
}
.columnAxisLeft h1{
    text-align: right;
}
.columsAxisBlack:nth-child(1n){
    height: 470px ;
}
.columsAxisBlack:first-child{
    height: 470px ;
}
.columsAxisBlack:nth-child(2n){
    height: 470px ;
}
.columsAxisBlack p{
    font-size: 18px;
    font-weight: 300;
    width: 75%;
    margin-left: 15%;
    padding-top: 20px;
}
.axisAdaptive{
    display: none;
}
.aboutWork ul{
    grid-template-rows: 1fr;
}
.main-line span{
    top: 15px;
}
.aboutText3-item-text p{
    width: 90%;
}


@media screen and (max-width: 1100px){
    .aboutAbout{
        margin-top: 0px;
    }
    .aboutAbout img{
        width: 100%;
        margin-top: 0px;
    }
    .aboutText{
        float: left;
        margin-left: 5%;
        width: 90%;
    }
    .aboutText h3{
        display: none;
    }
    .aboutText p{
        font-size: 16px;
        margin: 10px 0 10px 0;
    }
    .aboutText button{
        margin-top: 20px;
        width: 100%;
        padding: 16px 0px;
    }
    .adaptiveTitle{
        width: 90%;
        margin-left: 5%;
    }



    
    .aboutEsf{
        grid-template-columns: 1fr;
        width: 100%;
        margin-left: 0%;
    }
    .columnAxis{
        height: 100%;
        margin-top: 0px;
    }
    .columsAxisBlack{
        padding-top: 20px;
        width: 100%;
        background-color: #000000;
        color: white;
        position: relative;
    }
    .axis img{
        display: none;
    }
    .aboutEsf img{
        display: none;
    }
    .axisAdaptive{
        display: block;
    }
    .columnAxis h5{
        width: 90%;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0px 0;
        margin-left: 5%;
        /* padding: 10px 0; */
    }
    .columnAxis h1{
        display: none;
    }
    .columnAxisLeft h1{
        text-align: right;
    }
    .columsAxisBlack{
        height: 358px ;
    }
    /* .columsAxisBlack:nth-child(1n){
        height: 258px ;
    }
    .columsAxisBlack:first-child{
        height: 278px ;
    }
    .columsAxisBlack:nth-child(2n){
        height: 314px ;
    } */
    .columsAxisBlack p{
        font-size: 16px;
        font-weight: 300;
        width: 80%;
        margin-left: 5%;
        padding-top: 0px;
    } 
    .textWork{
        height: 460px;
        margin-top: 20px;
    }
    .aboutText3-item-text h5{
        font-size: 16px;
        width: 95%;
    }
    .aboutText3-item-text p{
        width: 100%;
        font-size: 14px;
    } 
    
}