.contacts{
    width: 80%;
    height: fit-content;
    margin: 230px 10% 200px 10%;
}

#map{
    width: 60%;
    height: 500px;
    float: left;
    order: 2;
}
.contactsText{
    width: 30%;
    margin-left: 10%;
    margin-top: 50px;
    float: right;
}
.contactsText p{
    position: relative;
    font-size: 1vw;
    text-transform: uppercase;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin-top: 15%;
    white-space: pre;
}
.contactsText a{
    color: black;
}



@media screen and (max-width: 1100px){
    .contacts{
        width: 100%;
        height: fit-content;
        margin: 120px 0% 0px 0%;
        display: flex;
        flex-flow: wrap;
    }
    .contactsText{
        width: 80%;
        margin: 10% auto;
        float: left;
        display: grid;
        grid-template-columns: 1fr 1fr;
        order: 1;
    }
    .contactsText p{
        font-size: 2vw;
        margin-top: 0%;
    }
    #Form{
        margin-top: 0;
    }
    #map{
        width: 100%;
    }

}

@media screen and (max-width: 500px){
    .contacts{
        width: 100%;
        height: fit-content;
        margin: 120px 0% 0px 0%;
        display: flex;
        flex-flow: wrap;
    }
    .contactsText{
        grid-template-columns:1fr;
    }
    .contactsText p{
        font-size: 5.5vw;
        margin-top: 0%;
    }

}