.aboutAbout{
    width: 90%;
    margin-left: 5%;
    margin-top: 260px;
}
.aboutAbout img{
    float: left;
    width: 35%;
    margin-top: 180px;
}
.aboutText{
    float: left;
    margin-left: 10%;
    width: 55%;

}
.aboutText h3{
    font-size: 40px;
    margin: 0px 0 70px 0;
}
.aboutText p{
    font-size: 18px;
    margin: 40px 0 40px 0;
}
.aboutText button{
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    padding: 16px 65px;
    background-color: #000000;
    border: none;
    border-radius: 32px;
    border: 1px rgb(0, 0, 0) solid;
    transition: all 200ms;
    margin-top: 40px;
}



.numbersEsf{
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 0;
}
.numberEsf h1{
    font-size: 66px;
    font-weight: 400;
}
.numberEsf p{
    font-size: 18px;
    margin-top: 20px;
}

.aboutEsf{
    display: grid;
    grid-template-columns: 1fr 0.15fr 1fr;
    width: 90%;
    margin-left: 5%;
}
.columnAxis{
    height: 100%;
    margin-top: 65px;
}
.columsAxisBlack{
    width: 100%;
    background-color: #000000;
    color: white;
    position: relative;
}
.axis img{
    display: block;
    margin: 0 auto;
}
.columnAxis h1{
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 82px 0;
}
.columnAxisLeft h1{
    text-align: right;
}
.columsAxisBlack:nth-child(1n){
    height: 258px ;
}
.columsAxisBlack:first-child{
    height: 278px ;
}
.columsAxisBlack:nth-child(2n){
    height: 314px ;
}
.columsAxisBlack p{
    font-size: 18px;
    font-weight: 300;
    width: 75%;
    margin-left: 15%;
    padding-top: 70px;
}
.axisAdaptive{
    display: none;
}
.main-line span{
    top: -5px;
}
.columsAxisBlack span{
    top: 65px;
}



.lap-slide{
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 100px 0;
}
.lap{
    width: 40%;
    padding: 5.5%;
    padding-top: 3.7%;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./assets/img/lap.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;
}
.lap-img1{
    width: 0%;
}
.lap-img2{
    width: 0%;
}
.lap-img3{
    width: 0%;
}
.lap-img-active1{
    width: 80%;
    margin-left: 10%;
}
.lap-img-active2{
    position: absolute;
    width: 40%;
    top: 45%;
    transform: translate(0%, -50%);;
    left: -30%;
}
.lap-img-active3{
    position: absolute;
    width: 40%;
    top: 45%;
    transform: translate(0%, -50%);;
    right: -30%;
}
.arrow-white1{
    position: absolute;
    bottom: 120px;
    left: 10%;
    width: 60px;
    height: 15px;
    background-image: url(./assets/img/arrow-w.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, 0%);;
    cursor: pointer;
}
.arrow-white2{
    position: absolute;
    bottom: 120px;
    right: 10%;
    width: 60px;
    height: 15px;
    background-image: url(./assets/img/arrow-w.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, 0%);;
    transform: rotate(180deg);
    cursor: pointer;
}
.controlz{
    height: 33px;
    width: 80px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.controlz-item{
    width: 15px;
    height: 15px;
    margin: 0 auto;
    margin-top: 7px;
    border-radius: 50%;
    background-color: rgb(163, 203, 203);
    transition: 400ms;
}
.controlz-item-active{
    width: 25px;
    height: 25px;
    margin-top: 2px;
    background-color: darkslategray;
    transition: 400ms;
}

@media screen and (max-width: 1100px){
    .aboutAbout{
        margin-top: 150px;
    }
    .controlz{
        width: 90px;
    }
    .aboutAbout img{
        width: 100%;
        margin-top: 60px;
    }
    .aboutText{
        float: left;
        margin-left: 0%;
        width: 100%;
    }
    .aboutText h3{
        display: none;
    }
    .aboutText p{
        font-size: 16px;
        margin: 10px 0 10px 0;
    }
    .aboutText button{
        width: 100%;
        padding: 16px 0px;
    }



    .numbersEsf{
        height: 230px;
        overflow-y: scroll;
    }
    .numberEsf h1{
        font-size: 66px;
        font-weight: 400;
    }
    .numberEsf p{
        font-size: 18px;
        margin-top: 20px;
    }
    
    .aboutEsf{
        grid-template-columns: 1fr;
        width: 100%;
        margin-left: 0%;
    }
    .columnAxis{
        height: 100%;
        margin-top: 0px;
    }
    .columsAxisBlack{
        padding-top: 20px;
        width: 100%;
        background-color: #000000;
        color: white;
        position: relative;
    }
    .axis img{
        display: none;
    }
    .aboutEsf img{
        display: none;
    }
    .axisAdaptive{
        display: block;
    }
    .columnAxis h5{
        width: 90%;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0px 0;
        margin-left: 5%;
        /* padding: 10px 0; */
    }
    .columnAxis h1{
        display: none;
    }
    .columnAxisLeft h1{
        text-align: right;
    }
    .columsAxisBlack:nth-child(1n){
        height: 258px ;
    }
    .columsAxisBlack:first-child{
        height: 278px ;
    }
    .columsAxisBlack:nth-child(2n){
        height: 314px ;
    }
    .columsAxisBlack p{
        font-size: 18px;
        font-weight: 300;
        width: 80%;
        margin-left: 5%;
        padding-top: 5px;
    } 
    .main-line span{
        top: 0px;
    }
    .lap-slide{
        width: 180%;
        margin-left: -40%;
    }
    .arrow-white1{
        left: 27%;
        bottom: 110px;
    }
    .arrow-white2{
        right: 25%;
        bottom: 110px;
    }
}