.aboutWorkTablet ul{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.textWork{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.aboutWorkTablet h4{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0px 10px 0;
    height: 10px;
}


.displays{
    width: 90%;
    margin: 0 5%;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
}
.display{
    display: block;
    width: 100%;
}
.list{
    width: 80%;
    margin: 0 10%;
}
.list p{
    font-size: 18px;
    margin-top: 30px;
    margin-left: 40px;
}

.numbersEsf{
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 0;
}
.numberEsf h1{
    font-size: 66px;
    font-weight: 400;
}
.numberEsf p{
    font-size: 18px;
    margin-top: 20px;
}
.aboutText3-item-text h5{
    font-size: 23px;
}
.aboutText3-item-text p{
    width: 100%;
    font-size: 16px;
}


@media screen and (max-width: 1100px){
    button{
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .adaptiveTitle{
        width: 90%;
        margin-left: 5%;
        margin-top: 100px;
    }
    .aboutWork{
        width: 100%;
        margin-left: 0%;
        margin-top: 0px;
        display: flex;
        flex-flow: wrap;
        height: 700px;
    }
    .imgWork{
        order: 1;
        width: 100%;
    }
    .aboutWork ul{
        order: 2;
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 3%;
    }
    .textWork, .textWork1{
        order: 3;
        width: 90%;
        margin-left: 5%;
        height: 600px;
    }
    .textWork h1, .textWork1 h1{
        display: none;
    } 
    .list{
        width: 90%;
        margin: 0 5%;
    }
    .list p{
        margin-top: 20px;
        margin-left: 0px;
    }
    .aboutText3-item-text p{
        width: 100%;
    }
    

}

@media screen and (max-width: 500px){
    .textWork h4, .textWork1 h4{
        margin: 0;
        padding: 0;
    } 
    .aboutText3-item-text h5{
        font-size: 16px;
        width: 95%;
    }
    .aboutText3-item-text p{
        width: 100%;
        font-size: 14px;
    } 
}